.color-spin {
	-webkit-animation-name: colorspin;
	-webkit-animation-duration: 3s;
}

@keyframes colorspin {
	from {
		filter: hue-rotate(0);
	}

	50% {
		filter: hue-rotate(180deg);
	}

	to {
		filter: hue-rotate(0);
	}
}